.header {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	padding: 37px 0px;
	background: #0000004d;
	backdrop-filter: blur(80px);
	z-index: 10;

	@media (max-width: 768px) {
		padding: 16px 0px;
	}
}

.ct {
	max-width: 1440px;
	padding: 0px 100px;
	margin: 0px auto;
	display: flex;
	gap: 40px;
	align-items: center;

	@media (max-width: 768px) {
		justify-content: space-between;
		padding: 0px 24px;
	}
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		display: none;
	}
}

.connectBtn {
	@media (max-width: 768px) {
		display: none !important;
	}
}

.loaderBtn {
	width: 100%;
	max-width: 218px;

	@media (max-width: 768px) {
		display: none;
	}
}

.logoText {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: normal;
	text-transform: uppercase;
	color: #fff;
}

.logo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.links {
	display: flex;
	gap: 32px;
}
