.message {
	width: fit-content;
	border: 1px solid #ffffff4d;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	background: #ffffff05;
	max-width: 65%;
	text-wrap: wrap;
	overflow-wrap: break-word;
	color: #fff;
	border-radius: 20px;
	padding: 16px;
	align-self: flex-end;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-left: auto;

	@media (max-width: 768px) {
		padding: 12px;
	}
}

.mb {
	margin-bottom: 24px;
}
