.message {
	width: 100%;
	max-width: 66.72%;
	margin-left: 100px;
	background: linear-gradient(
		230.72deg,
		rgba(105, 71, 243, 0.5) 2.2%,
		rgba(101, 182, 243, 0.5) 88.33%
	);
	padding: 1px;
	border-radius: 24px;
	overflow: hidden;
	margin-bottom: 8px;
	flex-shrink: 0;

	@media (max-width: 768px) {
		margin-left: 75px;
		max-width: 70%;
	}
}

.ct {
	background: #000;
	border-radius: 24px;
}

.ct2 {
	background: linear-gradient(
		230.72deg,
		rgba(105, 71, 243, 0.1) 2.2%,
		rgba(101, 182, 243, 0.1) 88.33%
	);
}

.text {
	color: #fff;
	text-wrap: wrap;
	overflow-wrap: break-word;
	padding: 16px;
	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.title {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	color: #ffffff4d !important;

	position: relative;

	&::after {
		content: " ";
		position: absolute;
		height: 1px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: linear-gradient(
			230.72deg,
			rgba(105, 71, 243, 0.5) 2.2%,
			rgba(101, 182, 243, 0.5) 88.33%
		);
	}
	padding: 0px 16px;
	padding-bottom: 12px;
	background: linear-gradient(230.72deg, #6947f3 2.2%, #65b6f3 88.33%);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.risk {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	padding: 0px 16px;
}

.msg {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	color: #fff;
	white-space: pre-line;
	padding: 0px 16px;
}

.ct3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px 0px;
}

.medium {
	color: #ffb82a !important;
}
.high {
	color: #ff2a2a !important;
}

.low {
	color: #38ff2a;
}

.default {
	color: #fff;
}

.ct4 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.textW {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	color: #fff;
	white-space: pre-line;
	padding: 0px 16px;
}

.value {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	color: #fff;
	padding-right: 16px;
}
