.ct {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	color: #ffffff;

	& .ct6:last-child {
		padding-bottom: 150px;
		&::before {
			content: " ";
			position: absolute;
			top: 9px;
			bottom: 20%;
			right: 0px;
			width: 1px;

			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0.3) 0%,
				rgba(255, 255, 255, 0.3) 77.39%,
				rgba(0, 0, 0, 0.3) 100%
			);
		}

		&::after {
			display: none;
		}
	}

	@media (max-width: 768px) {
		padding: 0px 16px;
	}
}

.ct1 {
	width: 100%;
	max-width: 40%;
	backdrop-filter: blur(80px);

	display: flex;
	justify-content: flex-end;
	padding-right: 51px;
	padding-left: 20px;
	padding-top: 150px;
	padding-bottom: 51px;
	position: relative;
	&::after {
		content: " ";
		position: absolute;
		left: 40%;
		bottom: 0px;
		right: 9px;

		height: 1px;
		background: linear-gradient(
			270deg,
			rgba(255, 255, 255, 0.3) 0%,
			rgba(255, 255, 255, 0.3) 90.22%,
			rgba(0, 0, 0, 0.3) 100%
		);

		@media (max-width: 768px) {
			left: 8px;
			right: 5%;

			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.3) 0%,
				rgba(255, 255, 255, 0.3) 89.88%,
				rgba(0, 0, 0, 0.3) 100%
			);
		}
	}

	&::before {
		content: " ";
		position: absolute;
		top: 20%;
		bottom: 9px;
		right: 0px;
		width: 1px;

		background: linear-gradient(
			360deg,
			rgba(255, 255, 255, 0.3) 0%,
			rgba(255, 255, 255, 0.3) 77.39%,
			rgba(0, 0, 0, 0.3) 100%
		);

		@media (max-width: 768px) {
			top: 5%;
			left: 0px;
			right: unset;
		}
	}

	@media (max-width: 768px) {
		max-width: 100%;
		padding: 24px;
	}
}

.ct4,
.ct6 {
	width: 100%;
	max-width: 40%;
	backdrop-filter: blur(80px);
	display: flex;
	justify-content: flex-end;
	padding: 97px 50px;
	padding-left: 20px;
	position: relative;

	&::after {
		content: " ";
		position: absolute;
		left: 40%;
		bottom: 0px;
		right: 9px;

		height: 1px;
		background: linear-gradient(
			270deg,
			rgba(255, 255, 255, 0.3) 0%,
			rgba(255, 255, 255, 0.3) 90.22%,
			rgba(0, 0, 0, 0.3) 100%
		);

		@media (max-width: 768px) {
			left: 8px;
			right: 5%;

			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.3) 0%,
				rgba(255, 255, 255, 0.3) 89.88%,
				rgba(0, 0, 0, 0.3) 100%
			);
		}
	}

	&::before {
		content: " ";
		position: absolute;
		top: 9px;
		bottom: 9px;
		right: 0px;
		width: 1px;

		background: #ffffff4d;

		@media (max-width: 768px) {
			top: 5%;
			left: 0px;
			right: unset;
		}
	}

	@media (max-width: 768px) {
		max-width: 100%;
		padding: 24px;
	}
}

.ct6 {
	padding: 50px 51px;
	padding-left: 20px;
	@media (max-width: 768px) {
		max-width: 100%;
		padding: 24px;
	}
}

.ct4 {
	@media (max-width: 768px) {
		justify-content: flex-start;
	}
}

.ct2 {
	height: 9px;
	width: 100%;
	max-width: 40%;
	padding-right: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(80px);
}

.border {
	width: 100%;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(217, 217, 217, 0) 35%,
		rgba(217, 217, 217, 0.5)
	);
}

.ct3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
	max-width: 360px;
	@media (max-width: 768px) {
		gap: 24px;
		max-width: unset;
	}
}

.text1 {
	font-weight: 300;
	font-size: 24px;
	line-height: 1.65;
	letter-spacing: normal;
	text-transform: uppercase;
	background: linear-gradient(230.72deg, #6947f3 2.2%, #65b6f3 88.33%);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	gap: 16px;

	& .dot {
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 100%;
		background: #ffffff4d;
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.text2 {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.65;
	letter-spacing: normal;
	color: #ffffff;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.title {
	font-weight: 600;
	font-size: 96px;
	line-height: 1.65;
	letter-spacing: normal;
	text-transform: uppercase;
	background: linear-gradient(230.72deg, #6947f3 2.2%, #65b6f3 88.33%);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	@media (max-width: 768px) {
		font-size: 53px;
	}
}

.ct5 {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	width: 100%;
	max-width: 360px;

	& span {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.65;
		letter-spacing: normal;
		text-transform: uppercase;
		color: #ffffff80;
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	& p {
		color: #fff;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.65;
		letter-spacing: normal;
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}
}
