.chat {
	width: 100%;
	height: 100%;
	border-radius: 32px;
	border: 1px solid #ffffff1a;
	backdrop-filter: blur(80px);

	@media (max-width: 768px) {
		min-height: 400px;
	}

	@media (max-height: 840px) {
		height: 455px;
	}

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	height: 531px;
	overflow: hidden;
}

.form {
	display: flex;
	align-items: center;
	padding: 0px 24px;
	padding-bottom: 24px;

	& input {
		width: 100%;
		border: #ffffff4d;
		border-radius: 40px;
		padding: 0px 24px;
		height: 42px;
		font-family: var(--font-monter);
		font-weight: 300;
		font-size: 16px;
		line-height: 1.65;
		letter-spacing: normal;
		text-transform: uppercase;
		background: transparent;
		color: #fff;
		outline: none;
		border: 1px solid #ffffff4d;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right: none;

		&::placeholder {
			color: #ffffff4d;
		}

		@media (max-width: 768px) {
			font-size: 14px;
			padding: 12px 24px;
		}
	}
}

.messages {
	// height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// margin-top: 70px;
	// padding-top: 30px;
	// padding-bottom: 24px;
}

.msgWrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: grid;
	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(230.72deg, #6947f3 2.2%, #65b6f3 88.33%);
		border-radius: 4px;
	}
	margin-top: 70px;
	padding-top: 30px;
	padding-bottom: 35px;
}

.btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 42px;
}

.video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 150px;
	height: auto;
	pointer-events: none;

	@media (max-width: 768px) {
		left: 15px;
		bottom: 95px;
		top: unset;
		transform: translate(0%, 0%);
		width: 50px;
		height: auto;
	}
}

.prices {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 24px;
	border-bottom: 1px solid #ffffff1a;
	display: flex;
	gap: 24px;
	justify-content: space-between;
	background: #000;

	@media (max-width: 768px) {
		overflow-x: auto;
		&::-webkit-scrollbar {
			height: 3px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: linear-gradient(
				230.72deg,
				#6947f3 2.2%,
				#65b6f3 88.33%
			);
			border-radius: 4px;
		}
	}
}

.priceBtn {
	display: flex;
	gap: 5px;
	align-items: center;
	color: #fff;
	gap: 8px;
	cursor: pointer;
}

.text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.65;
	letter-spacing: normal;
}

.cirlceBig {
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--White-transparent, #ffffff4d);
	border-radius: 100%;
}

.circleSmall {
	width: 10px;
	height: 10px;
	background: linear-gradient(230.72deg, #6947f3 2.2%, #65b6f3 88.33%);
	border-radius: 100%;
}

.active {
	border-color: #6947f3;
}

.suggest {
	position: absolute;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 68%;
	transform: translate(-50%, -25%);
	color: #ffffff4d;
	width: 100%;

	@media (max-width: 768px) {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
