.bgVideo {
	position: relative;
	margin: 0px auto;
	margin-top: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	& video {
		height: 400px;
		width: auto;
		object-fit: contain;
		margin-left: auto;
		margin-right: auto;
		cursor: none;

		@media (max-width: 768px) {
			height: 220px;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: space-between;
		margin-top: 0px;
		padding-top: 16px;
	}
}

.blur {
	position: absolute;
	inset: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	backdrop-filter: blur(80px);
}

.mobileSearch {
	padding: 24px 16px;
	backdrop-filter: blur(80px);
}

.textMobile {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.65;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 16px;
}

.videoCt {
	display: flex;
	flex-direction: column;
}
