.loader {
	width: fit-content;
	padding: 16px;
	border-radius: 24px;
	border: 1px solid #65b6f3;
	background: linear-gradient(
		230.72deg,
		rgba(105, 71, 243, 0.1) 2.2%,
		rgba(101, 182, 243, 0.1) 88.33%
	);

	display: flex;
	gap: 8px;
	align-items: center;
	margin-left: 100px;

	& span {
		width: 8px;
		height: 8px;
		background: #d9d9d9;
		border-radius: 100%;
		animation: scaleAnim 1s infinite;

		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.25s;
		}
		&:nth-child(3) {
			animation-delay: 0.5s;
		}
	}
}

@keyframes scaleAnim {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
}
