.tweet {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	color: #fff;
}

.ct {
	width: 100%;
	display: flex;
	gap: 16px;

	& .avatar {
		width: 100%;
		max-width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.media {
	width: 100%;
	max-width: 236px;
	height: auto;
	object-fit: cover;
	border-radius: 16px;
	max-height: 236px;
}

.ct2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ct3 {
	width: 100%;
	display: flex;
	flex-direction: column;

	& span {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.65;
		letter-spacing: normal;
	}

	& a {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.65;
		letter-spacing: normal;
	}

	& .dark {
		color: #ffffff80;
	}
}

.ct4 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.descr {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.65;
	letter-spacing: normal;
	word-break: break-all;
}

.ct5 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
