.form {
	width: 100%;
	max-width: 698px;
	background: #ffffff0a;
	backdrop-filter: blur(80px);
	margin: 0px auto;
	border-radius: 40px;
	padding: 19px;
	padding-left: 16px;
	display: flex;
	gap: 31px;
	align-items: center;

	@media (max-width: 768px) {
		gap: 16px;
		padding: 0px;
	}
}

.input {
	width: 100%;
	border: #ffffff4d;
	border-radius: 40px;
	padding: 8px 24px;
	font-family: var(--font-monter);
	font-weight: 300;
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: normal;
	text-transform: uppercase;
	background: transparent;
	color: #fff;
	outline: none;
	border: 1px solid #ffffff4d;

	&::placeholder {
		color: #fff;
	}

	@media (max-width: 768px) {
		font-size: 14px;
		padding: 12px 24px;
	}
}

.btn {
	width: 100%;
	max-width: 42px;
	height: 42px;
	border-radius: 100%;
	border: 1px solid #ffffff4d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	@media (max-width: 768px) {
		max-width: 47px;
		height: 47px;
	}
}
